.pokemons {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 2.5rem;

    @include responsive(mobile) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

.pokemon-card {
    width: 100%;
    position: relative;
    border-radius: 1rem;
    background-color: #2F2F2F;
    transition: 0.5s ease;
    height: 25rem;
}

.pokemon-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.pokemon-id {
    left: 0;
    position: absolute;
    border-radius: 0.4rem 0rem 0.4rem 0rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    text-align: center;
    color: #000000;
    margin: 0;
}

.pokemon-image {
    width: 60%;
    height: 60%;
}

.pokemon-name {
    color: white;
    margin-bottom: 0;
}

.pokemon-type--1 {
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 0.4rem 0rem 0.4rem 0rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    text-align: center;
    color: #000000;
    margin: 0;
}

$types: (
    "normal": #A8A77A,
    "fire": #EE8130,
    "water": #6390F0,
    "electric": #F7D02C,
    "grass": #7AC74C,
    "ice": #96D9D6,
    "fighting": #C22E28,
    "poison": #A33EA1,
    "ground": #E2BF65,
    "flying": #A98FF3,
    "psychic": #F95587,
    "bug": #A6B91A,
    "rock": #B6A136,
    "ghost": #735797,
    "dragon": #6F35FC,
    "dark": #705746,
    "steel": #B7B7CE,
    "fairy": #D685AD,
);

@each $type, $color in $types {
    ##{$type}--card {
        border: 0.5rem solid $color;
        box-shadow: 0px 0px 0px 0px $color;

        &:hover {
            box-shadow: 0px 0px 0px 5px $color;
        }
    }
}

@each $type, $color in $types {
    ##{$type}--id {
        background-color: $color;
    }
}

@each $type, $color in $types {
    ##{$type}--type {
        background-color: $color;
    }
}