@import "blocks/header";
@import "blocks/pokemons";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    position: sticky;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: space-between;
    background-color: #2F2F2F;
    align-items: center;
    height: 7.5rem;
    top: 0;
}

header ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

header ul li {
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

header ul li a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
        padding-bottom: 0.3rem;
        border-bottom: 0.1rem solid #FFFFFF;
    }
}